
@charset "UTF-8";

html{
  font-size:100%;
}

body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic,"遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color:#432;
}
a{
  text-decoration: none;
}
img{
  max-width:100%;
}

/* header */

.logo{
  width:100px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 50%;
  display: block;
}
.logo:hover{
  color:#e5b7be;
  cursor: pointer;
}

.page-header h1{
  font-size: 60px;
  color:#e5b7be;
  font-family: 'Philosopher',serif;  
  margin-left: 30px;
}

.main-nav{
  display: flex;
  text-transform: uppercase;
  list-style: none;
  font-size: 30px;
  margin-top: 60px;
}
.main-nav li {
  margin-left: 60px;
}

.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color:#0bd;
}
.page-header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 100%;
  margin:0 auto;
  padding:0 4%;
}

.home-content{
  text-align: center;
}

.home-content p{
  font-size: 30px;
  font-family: 'Philosopher',serif;  
  opacity: 0.7;
  margin: 5px 0 42px 0;
}

.page-title{
  font-size: 7rem;
  font-family: 'Philosopher',serif;  
}

.page-message img{
  width:500px;
}

.big-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home{
  min-height: 100vh;
}

#home .page-title{
  text-transform: none;
}

/* about */
#about{
  background-image: url(../images/back.jpg);
  height:800px;
  margin-bottom: 40px;
}


#about .page-title{
  text-align: center;
  text-transform: uppercase;
  color:#432;
}

/* about-main */
article{
  width:1000px;
}

aside{
  width:300px;
}

.about-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 50px;
} 

.post-info{
  position:relative;
  padding-top:4px;
  margin-bottom: 40px;
}

.post-date{
  background: #d58d9d;
  border-radius: 50%;
  color:#432;
  width:100px;
  height:100px;
  font-size: 1.625rem;
  text-align:center;
  position: absolute;
  top:0;
  padding-top:20px;
}

.post-date span{
  font-size: 1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top:6px;
  display: block;
  width:60%;
  margin:0 auto;
}

.post-title{
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title, .post-cat{
  margin-left:120px;
}

article img{
  margin-bottom: 20px;
  width:800px;
  object-fit: cover;
}

.sub-title{
  font-size:1.375rem;
  padding:0 8px 8px;
  border-bottom: 2px #f7c6bd solid;
  font-weight: normal;
}

aside p {
  padding:12px 10px; 
}

.sub-menu{
  margin-bottom:60px;
  list-style: none;
  padding:0 8px 8px 0;
}
.sub-menu li{
  border-bottom: 1px #ddd solid;
}

.sub-menu a{
  color:#432;
  padding:10px;
  display: block;
}

.sub-menu a:hover{
  color:#0bd;
}

/* contents */

#contents{
  background-image: url(../images/back2.jpg);
  height:800px;
  margin-bottom: 40px;
}
.menu-content{
  max-width:560px;
  margin-top:10%;
}

.menu-content, .page-title{
 text-align: center;
}

.menu-content h2{
  text-transform: uppercase;
  color:#432;
}

.item p{
  font-family: "Yu Mincho", "YuMincho", serif;
}

.grid a{
  color:#d58d9d;
}

.grid a:hover{
color:#0bd;
}



/* contents main */

.grid{
  display: grid;
  gap:26px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  width:80%;
}

.item img{
  width:70%;
  object-fit: cover;
}

/* cpntact header */

#contact {
  background-image:url(../images/contactbg2.jpg);
  background-size: cover;
  height:800px;
  
}

/* contact main */

form div {
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255,255,255,.5);
  border:1px #dcc8dc solid;
  border-radius: 5px;
  padding:10px 40px;
  font-size:1rem;
}

input[type="text"],
input[type="email"]{
  width:100%;
  max-width: 240px;
}
textarea{
  width:100%;
  max-width: 480px;
  height:8rem;
}

input[type="submit"]{
  border:1px #dcc8dc solid;
  border-radius: 5px;
  cursor:pointer;
  line-height: 1;
  height:50px;
  width:100px;
  font-size: 1rem;
  display: block;
}

input[type="submit"]:hover{
  color:#0bd;
}

.contact-wrapper{
  margin: 30px 0 30px  300px;
}


/* sns */
#sns{
  background: #FAF7F0;
  padding:4% 0;
}

#sns .section-wrapper{
  display: flex;
  justify-content: center;
}
#sns .sub-title{
  margin-bottom: 30px;
}
.sns-box{
  width:20%;
  margin-right: 80px;
}

.section-heading{
  text-align: center;
  font-size:3rem;
  font-family:'Philosopher',serif;
}
/* fotter */

footer{
  background-color: #432;
  padding:26px 0 26px;
  text-align: center;
}

footer p{
  font-size: 0.875rem;
  color:#fff;
}

/* レスポンシブ */

@media (max-width:600px){
  h1{
    color: #e5b7be;
  }

  .page-title{
    font-size: 2.5rem;
  }

  .main-nav{
    font-size: 1rem;
    margin-top:10px;
  }

  .main-nav li{
    margin: 0 20px;
  }

  .home-content{
    margin-top: 20%;
  }

  .page-header{
    flex-direction: column;
    align-items: center;
  }

  .about-contents{
    flex-direction: column;
  }
  
  article,aside{
    width:100%;
  }

  #about .page-title{
    margin-top: 30px;
  }

  aside{
    margin-top: 60px;
  }

  .post-info{
    margin-bottom: 30px;
  }

  .post-date{
    width: 70px;
    height:70px;
    font-size: 1rem;
  }

  .post-date span{
    font-size: 0.875rem;
    margin-top: 10px;
  }

  .post-title, .post-cat{
    margin-left: 80px;
  }
  
  .menu-content{
    margin-top: 20%;
  }

  .grid{
    display: grid;
    gap:26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
    width:80%;
  }

  /* contact */

  #contact .page-title{
    margin-top:40px;

  }

  input[type="text"],
  input[type="email"],
    textarea{
      max-width: 100%;
    }

    /* sns */
    
    #sns .section-wrapper{
      flex-direction: column;
    }

    .sns-box{
      width:100%;
      margin-bottom: 30px;
    }

}
